@keyframes borda {
    0%{
        border: 3px solid rgb(20, 72, 184);
        transition: 0.5s;
    }
    50%{
        border: 3px solid rgb(20, 116, 184);
        transition: 0.5s;
    }
    100%{
        border: 3px solid rgb(77, 20, 184);
        transition: 0.5s;
    }
}

*{
    margin: 0%;
    padding: 0%;
}

#pagina{
    width: 100%;
    height: 100vh; /* VH - viewport height */
    background-image: url(../images/fundo\ de\ loja.gif);
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main{
    width: 70%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.663) 6px 6px;
    display: flex;
    overflow: hidden;
}

#banner, #formulario{
    width: 50%;
    height: 100%;
}

#banner{
    background-image: url(../images/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#efeito{
    width: 100%;
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0.5045238676525298) 51%, rgba(255,255,255,1) 100%);
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    color: rgb(230, 81, 106);
    margin: 20px 0px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16pt;
}

input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    transition: 1s;
}

input:hover{
    background-color: rgb(192, 192, 192);
    transition: 0.3s;
}

input:focus{
   width: 380px;
   height: 35px; 
   transition: 1s;
   background-color: rgb(187, 127, 227);
   color: white;
   animation: borda 1.5s infinite;
}

input::placeholder{
    color: rgb(230, 81, 106);
}

button{
    width: 200px;
    height: 30px;
    background-color: rgb(238, 119, 139);
    color: white;
    margin: 10px auto;
    border-radius: 5px;
    transition: 0.5s;
    align-items: center;
}

button:active{
    background-color: white;
    color: rgb(230, 81, 106);
    align-items: center;
}


.header-container {
    background-color: rgb(230, 81, 106);
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}

.header-container h1 {
    margin: 0;
    font-size: 2em;
}

.header-container nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header-container nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

@media only screen and (min-width: 601px) {
    #formulario {
        width: 40%; /* Restaura o tamanho original em dispositivos maiores que 600px */
        
    }
    

    #banner {
        width: 50%; /* Restaura o tamanho original em dispositivos maiores que 600px */
    }
}

@media only screen and (min-width: 1025px) {
    #pagina {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        align-items: center;

        width: 60%;
    }

    #banner,
    #formulario {
        align-items: center;
        width: 60%;
        
    }
}